{% macro display_comment_tree(parent) %}
<div class="card-footer">
{% for child in parent.children %}
    <div class="card">
        <div class="card-body">
            <p class="card-text"> {{child.description}} </p>
            <p class="text-muted"> {{child.date_created}} </p>
        </div>
        <div class="reply-input">
            <input type="text"
                   class="comment-input"
                   id="{{ child.ident }}-comment"
                   name="{{ child.ident }}-comment"
                   placeholder="Reply here"
            >
            <button type="button"
                    class="comment-submit"
                    id="{{ child.ident }}-submit"
                    name="{{ child.ident }}-submit"
                    value="{{ child.ident }}"
            >Submit</button>
            {% if user.ident == child.author or user.elevated %}
            <button type="button" onclick="window.location.href='{{url_for('views.delete_comment', question_id=question.ident, comment_id=child.ident)}}';">Delete</button>
            {% endif %}
        </div>
        {{ display_comment_tree(child) }}
    </div>
{% endfor %}
</div>
{% endmacro %}

<div class="card">
    <div class="card-body">
        <p class="card-text"> {{comment.description}} </p>
        <p class="text-muted"> {{comment.date_created}} </p>
    </div>
    <div class="reply-input">
        <input type="text"
               class="comment-input"
               id="{{ comment.ident }}-comment"
               name="{{ comment.ident }}-comment"
               placeholder="Reply here"
        >
        <button type="button"
                class="comment-submit"
                id="{{ comment.ident }}-submit"
                name="{{ comment.ident }}-submit"
                value="{{ comment.ident }}"
        >Submit</button>
        {% if user.ident == comment.author or user.elevated %}
        <button type="button" onclick="window.location.href='{{url_for('views.delete_comment', question_id=question.ident, comment_id=comment.ident)}}';">Delete</button>
        {% endif %}
    </div>
    {{ display_comment_tree(comment) }}
</div>