{% extends "authentication.html" %}
{% block content %}
<div class="logo">
    <img src="{{url_for('static', filename='Resources/WMG.png')}}">
</div>
<div class="login-form">
    <form method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   placeholder="Enter Username"
            />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   placeholder="Enter Password"
            />
        </div>

        <div class="form-inline">
            <input type="submit"
                   class="pass-action"
                   id="sub-login"
                   name="Submit"
            >
            <input type="submit"
                   class="pass-action"
                   id="sub-request"
                   name="Forgot Details"
                   value="Forgot Details"
            >
        </div>
    </form>
</div>
<div>
    <h4 class="text-danger" id="failed_login">
        {% if failed %}
            Username or Password is incorrect
        {% endif %}
    </h4>
</div>
{% endblock %}