<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <div class="logo">

        </div>
        <div class="login-form">
            <form method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text"
                           class="form-control"
                           id="username"
                           name="username"
                           placeholder="Enter Username"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           placeholder="Enter Password"
                    />
                </div>
            </form>
        </div>
        <div>
            <h4 id="failed_login">
                {% if failed %}
                    Username or Password is incorrect
                {% endif %}
            </h4>
        </div>
    </div>
</body>
</html>