{% extends "base.html" %}
{% block static_content %}
<div class="boarder-outer card">
    <div class="card-inner">
        <a class="" id="back-button" href="{{url_for('views.question_list')}}">Back</a>
        <div class="meta">
            <div class="meta-text" id="post-course">

                <p>{{ course.name }}</p>

            </div>
            <div class="meta-text" id="post-author">

                {% if question.published is true %}
                <p>{{ author.firstname }} {{ author.lastname }}</p>
                {% else %}
                <p>Anonymous</p>
                {% endif %}

            </div>
            <div class="meta-date">

                <p>{{ question.date_created }}</p>

            </div>
        </div>
        <h1 class="card-title">

            {{ question.title }}

        </h1>
        <p class="card-text">

            {{ question.description }}

        </p>
    </div>
    <form class="answer-box center">
        <input type="text"
               class="answer-field"
               name="answer"
               id="{{question.ident}}-answer"
               placeholder="Answer"
        >
    </form>
    <button type="button" onclick="window.location.href='{{url_for('views.answer_question', question_id=question.ident)}}';">Answer</button>
</div>
{% endblock %}
{% block scroll_content %}
<div class="container">
    {% include "comment_template.html" %}
    {% for comment in comments %}
        {% include "comment_template.html" %}
    {% endfor %}
</div>
{% endblock %}