{% extends "base.html" %}
{% block static_content %}
<div class="rounded-lg">
    <ul class="nav nav-tabs nav-fill">
        <li class="flex-lg-fill nav-item" id="pub-button">
            <button class="btn-lg btn-block" id="ShowPub"> Published </button>
        </li>
        <li class="flex-lg-fill nav-item" id="pri-button">
            <button class="btn-lg btn-block" id="ShowPri"> Private </button>
        </li>
    </ul>
</div>
{% endblock %}
{% block scroll_content %}
    <div class="container">
        <div class="published" id="ques-pub">
            {% for question in public_questions %}
                {% include "question_template.html" %}
            {% endfor %}
        </div>
        <div class="personal" id="ques-pri">
            {% for question in private_questions %}
                {% include "question_template.html" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}