<li class="list-group-item card question">
    <a href="{{url_for('views.question_page', question_id=question.ident)}}">
        <h4 class="title" >{{ question.title }}</h4>
        {% if question.answered %}
        <div class="check">
            <img src="">
        </div>
        {% endif %}
    </a>
    {% if elevated %}
    <form class="answer-box" method="post">
        <div class="elevated-options">
            <button type="button" onclick="window.location.href='{{url_for('views.delete_question', question_id=question.ident)}}';">Delete</button>
        </div>
    </form>
    {% endif %}
</li>

