{% extends "base.html" %}
{% block static_content %}
<div class="boarder-outer card">
    <a class="" id="back-button button-lg" href="{{url_for('views.question_list')}}">Back</a>
    <div class="meta">
        <div class="meta-text" id="post-course">

            <p>{{ course.name }}</p>

        </div>
        <div class="meta-text" id="post-author">

            {% if question.published is true %}
            <p>{{ author.firstname }} {{ author.lastname }}</p>
            {% else %}
            <p>Anonymous</p>
            {% endif %}

        </div>
        <div class="meta-date">

            <p>{{ question.date_created }}</p>

        </div>
    </div>
    <div class="card-inner">
        <h1 class="card-title page-text">

            {{ question.title }}

        </h1>
        <p class="card-text page-text">

            {{ question.description }}

        </p>
        <p class="text-success page-text">

            {% if question.answer is not none %}
                {{ question.answer }}
            {% endif %}

        </p>
    </div>
    <button type="button" onclick="window.location.href='{{url_for('views.answer_question', question_id=question.ident)}}';">Answer</button>
</div>
{% endblock %}
{% block scroll_content %}
<div class="container">
        <form class="answer-box center" id="comment-creator" method="post">
            <input type="hidden"
                   class="comment-field"
                   name="comment-text"
                   id="comment-text"
            >
            <input type="hidden"
                   class="comment-field"
                   name="comment-parent"
                   id="comment-parent"
            >
        </form>
        <div class="reply-input">
            <input type="text"
                   class="comment-input"
                   id="-1-comment"
                   name="-1-comment"
                   placeholder="Comment here"
            >
            <button type="button"
                    class="comment-submit"
                    id="-1-submit"
                    name="-1-submit"
                    value="-1"
            >Submit</button>
        </div>
    {% for comment in comments %}
        {% include "comment_template.html" %}
    {% endfor %}
</div>
{% endblock %}