<div class="question">

    <div class="form-container">

        <form action="#" class="" id="title-form">
            <input type="text" id="title" size="50" value="" class="form-field js-expand" placeholder="Whats your question?">
            <div class="js-hiddenform">

                <label class="label" for="description"></label>
                <input type="text" id="description" size="30" value="" required="" class="form-field" placeholder="Any more detail?">

                <div class="clear"></div>

                <input id="submit" class="submit js-expand" type="submit" value="Submit Question">
                <input id="public" class="public js-expand" type="checkbox">
                <label for="public">Make this publishable?</label>

            </div>
        </form>

    </div>
</div>